/* WELCOME AND NAVBAR */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(/static/home.jpg);
    background-size: 1366px;
    background-position: center;
}

.banner-o {
  width: 100%;
  height: 60vh;
  background-size: 1366px;
  background-position: center;
}

.cropped {
    width: 90px; /* width of container */
    height: 90px; /* height of container */
    overflow: hidden;
    border-radius: 50px;
}

.logo {
    margin: -5px;
    width: 100px;
    cursor: pointer;
}

nav {
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

nav ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #965a00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.welcome {
    color: #fff;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.welcome h1 {
    font-size: 70px;
    margin-top: 80px;
}

.welcome p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.welcome a button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #965a00;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.welcome a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.tohover {
    background: #965a00;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.welcome a button:hover .tohover {
    width: 100%;
}

.welcome a button:hover {
    border: none;
}

/* LOGIN  and REGISTER */

html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #965a00;
  font-size: 12px;
}

.login-box form button, .novis {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #965a00;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 10px;
  letter-spacing: 4px
}

.login-box button:hover, .novis:hover {
  background: #965a00;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #965a00,
              0 0 25px #965a00,
              0 0 50px #965a00,
              0 0 100px #965a00;
}

.login-box button span, .novis span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1), .novis span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #965a00);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2), .novis span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #965a00);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3), .novis span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #965a00);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4), .novis span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #965a00);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

.novis {
    background: none;
    border: none;
  }


@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


/* INDEX */

.birthdays {
  color: #fff;
  width: 100%;
  position: absolute;
  text-align: center;
}

.container {
  width: 600px;
  position: absolute;
  margin-top: -300px;
  left: 29%;
  padding: 40px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.input-box {
  width: 90%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  position: relative;
}

.section-birth {
  margin-top: 20px;
}


.birthdays table th,
table td {
  padding: 0.75rem;
  vertical-align: middle;
  width: 100%;
}

table{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* 
.birthdays .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  width: 90%;
}

.birthdays .jumbotron {
  background-color: #477bff;
  color: #fff;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  text-align: center;
}

.birthdays .section {
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
}

.birthdays .section:hover {
  background-color: #f5f5f5;
  transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.birthdays h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

.birthdays button, input[type="submit"] {
  background-color: #d9edff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
}

.birthdays input[type="text"], input[type="number"] {
  line-height: 1.8;
  width: 25%;
}

.birthdays input[type="text"]:hover, input[type="number"]:hover {
  background-color: #f5f5f5;
  transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.birthdays table {
  background-color: transparent;
  margin-bottom: 1rem;
  width: 100%;
}

