{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <h2>Update Password</h2>
    <form action="/change_pwd" method="post">
        <div class="form-group">
            <input class="form-control" name="current_password" placeholder="Currrent Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Update password</button>
    </form>
{% endblock %}
