{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Action</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history %}
                <tr>
                    <td>{{ item.symbol }}</td>
                    <td>
                        {% if item.shares > 0 %}
                            <span class="badge badge-success">BUY</span>
                        {% else %}
                            <span class="badge badge-danger">SELL</span>
                        {% endif %}
                    </td>
                    <td>{{ item.shares }}</td>
                    <td>{{ item.price | usd }}</td>
                    <td>{{ (item.price * item.shares) | usd}}</td>
                    <td>{{ item.created_at }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ spent }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
