<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/favicon.ico" rel="icon">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Birthdays: {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="banner">
        <header>
            <nav>
                <div class="cropped">
                    <img src="../static/logo.jpg" class="logo" alt="logo">
                </div>
                    <ul>
                        {% if session.user_id %}
                            <li><a href="/login">Test</a></li>
                            <li><a href="/register">Test</a></li>
                        {% else %}
                            <li><a href="/login">Test</a></li>
                            <li><a href="/register">Test</a></li>
                        {% endif%}
                    </ul>
            </nav>
            {% if get_flashed_messages() %}
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            {% endif %}
        </header>
    </div>

    <main class="container p-5">
        {% block main %}{% endblock %}
    </main>

    <footer class="small text-center text-muted">
        <!-- Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a
            href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>. -->
    </footer>

</body>
</html>