{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<main>
    <div class="login-box">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="user-box">
                <input type="text" autofocus name="username" required autocomplete="off">
                <label for="username">Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="pwd" required autocomplete="off">
                <label for="pwd">Password</label>
            </div>
            <button class="novis" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Log In</button>
        </form>
    </div>
</main>
{% endblock %}
