{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<main>
    <div class="login-box">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div class="user-box">
                <input type="text" name="username" required autocomplete="off">
                <label for="username">Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="pwd" required>
                <label for="pwd">Password</label>
            </div>
            <div class="user-box">
                <input type="password" name="confirmation" required>
                <label for="confirmation">Confirm Password</label>
            </div>
            <button class="novis" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Register</button>
        </form>
    </div>
</main>
{% endblock %}
