{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<main class="birthdays share">
    <div class="login-box">
        <h2>Share a Birthday</h2>
            <form action="/share" method="post" class="add-births" style="margin: 20px;">
                <div class="births">
                    {% for name in names %}
                    <div class="birth-box"><input type="checkbox" name="name" id="name" value="{{ name.name }}">{{ name.name }}</div>
                    {% endfor %}
                </div>
                <div class="user-box" style="margin-top: 20px;">
                    <input type="text" name="receiver" required autocomplete="off">
                    <label for="username">Who is the receiver?</label>
                </div>
                <button class="novis" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                SHARE</button>
            </form>
    </div>
    <div class="box-space"></div>
</main>
{% endblock %}