{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<main class="birthdays share">
    <div class="container">
        <div class="section-birth">
            <h2>Share a Birthday</h2>
            <form action="/share" method="post" class="add-births">
                <p>
                    <label for="Cookies">
                      <input id="Cookies" name="yaybox" type="checkbox" value="Cookies" checked />
                      <span>Chocolate Chip Cookies</span>
                    </label>
                  </p>
                  <p>
                    <label for="Milk">
                      <input id="Milk" name="yaybox" type="checkbox" value="Milk" />
                      <span>Ice Cold Milk</span>
                    </label>
                  </p>
                  <p>
                    <label for="Other">
                      <input id="Other" name="yaybox" type="checkbox" value="Other" />
                      <span>Raspberry-Lemon Pastry with Cream Cheese Frosting and Graham Cracker Crust</span>
                    </label>
                  </p>
                <button class="novis" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                SHARE</button>
            </form>
        </div>
        {% if birthdays != [] %}
        <div class="section-birth">
            <h2>All Birthdays</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for birthday in birthdays %}
                        <tr>
                            <td>{{ birthday.name }}</td>
                            <td>{{ birthday.MONTH }}/{{ birthday.DAY }}</td>
                            <td>
                                <form action="/removebirth" method="POST">
                                    <input type="text" name="name" value="{{ birthday.name }}" hidden>
                                    <button type="submit" style="cursor: pointer;"><img src="../static/delete.svg" class="trash"width="20px" alt="Remove"></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <!-- TODO: Loop through the database entries to display them in this table -->
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="box-space"></div>
</main>
{% endblock %}